body {
  background-color:white;
}

p{
  color:black;
}

div {
  width:70%;
}

li {
  list-style-position: inside;
}

button{
  font-family:"Lucida Console", "Courier New", monospace;
  font-weight:bold;
  font-size:15px;
  background-color:white;
  color:brown;
  border:none;
  border-radius:10px;
  padding:10px;
}

button:hover{
  background-color:rgb(206, 195, 195);
  box-shadow:10px 10px 5px rgb(189, 177, 177);
  transition-duration: 0.5s;
  cursor:pointer;
}

#float {
    position: relative;
    -webkit-animation: floatBubble 2s normal ease-out;
    animation: floatBubble 2s normal ease-out;
}
@-webkit-keyframes floatBubble {
    0% {
        ŗight:400px;
    }
    100% {
        right: 0px;
    }
}
@keyframes floatBubble {
    0% {
        right:400px;
    }
    100% {
        right: 0px;
    }
}

ul.demo{
  font-size:40px;
  
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#vesture {
  position:fixed;
  right:10px;
  bottom:10px;
}
