<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9C8Q53BWWX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-9C8Q53BWWX');
</script>
<style>
  .copyright>a,
  .copyright>span,
  .addons>dl {
    display: none;
  }

  .branch>span {
    display: none;
  }

  img {
    border: 1px solid #8080803d;
  }

  .nerami {
    border: none;
  }
</style>